<!HTML doctype>
<html>
  <head>
    <link rel="icon" type="image/png" href="https://cdn.glitch.com/ae6e9ccd-a596-4fb9-b2df-e3645a44ce5b%2Fseo3-100-512.png?1496925353384" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">        
    <link href="https://fonts.googleapis.com/css?family=Rokkitt:400,700|Open+Sans:300,400,600" rel="stylesheet" type="text/css">
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
  <script src="app.js"></script>
<body>
  <div ng-app="MakePlan">        
<div class="container">
            <div class="content" ng-controller="planController">
            <h1>Haz tu Plan</h1>
            <p class="tagline">App para hacer planes</p>
            <form>
                <div class="inputContainer">
                    <input type="text" id="description" class="taskName" placeholder="Qué quieres hacer?" ng-model="newTask">
                    <label for="description">Nuevo Plan</label>
                </div>
              
                <div class="inputContainer">
                    <input type="text" id="friends" class="Friends" placeholder="@" ng-model="newTaskFriends">
                    <label for="description">Invita amigos</label>
                </div>
                <div class="inputContainer half last">
                    <i class="fa fa-caret-down selectArrow"></i>
                    <select id="category" class="taskCategory" ng-model="newTaskCategory" ng-options="obj.name for obj in categories">
                        <option class="disabled" value="">Elige una categoría</option>
                    </select>
                    <label for="category">Categoría</label>
                </div>
                <div class="inputContainer half last right">
                    <input type="date" id="dueDate" class="taskDate" ng-model="newTaskDate">
                    <label for="dueDate">Fecha</label>
                </div>
                <div class="row">
                    <button class="taskAdd" ng-click="addNew()"><i class="fa fa-plus icon"></i>Añadir plan</button>
                    <button class="taskDelete" ng-click="deleteTask()"><i class="fa fa-trash-o icon"></i>Borrar Plan</button>
                </div>
            </form>
            <ul  class="taskList">
                <li class="taskItem" ng-repeat="taskItem in taskItem track by $index" ng-model="taskItem"><input type="checkbox" class="taskCheckbox" ng-model="taskItem.complete" ng-change="save()">
                    <span class="complete-{{taskItem.complete}}">{{taskItem.description}}</span>
                    <span class="complete-{{taskItem.complete}}">| {{taskItem.friends}}</span>
                    <span class="category-{{taskItem.category}}">{{taskItem.category}}</span>
                    <strong class="taskDate complete-{{taskItem.complete}}"><i class="fa fa-calendar"></i>{{taskItem.date | date : 'mediumDate'}}</strong>
                </li>
            </ul><!-- taskList -->
            </div><!-- content -->
  </div><!-- container -->
        <footer>
          <p>Built by <a href="http://www.williamkhepri.com">William Khepri</a></p> 
        </footer>
  </div>
</body>
</html>
      