<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Make Plans</title>
     <link rel="icon" type="image/png" href="https://cdn.glitch.com/ae6e9ccd-a596-4fb9-b2df-e3645a44ce5b%2Fseo3-100-512.png?1496925353384" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        {background-image: url(https://wallpaperscraft.com/image/people_live_hands_80419_1920x1080.jpg); padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Make Plans App</h1>

        <p>Login or Register:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    </div>

</div>
</body>
</html>